body {
	font: 12px/1.125 Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px/1.125 Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.125 Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.125 Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.125 Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
li {
	list-style: none;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
input {
	outline-style: none;
}
textarea {
	outline-style: none;
}
input[type='text'] {
	outline-style: none; -webkit-appearance: none;
}
input[type='password'] {
	outline-style: none; -webkit-appearance: none;
}
textarea {
	outline-style: none; -webkit-appearance: none;
}
textarea {
	resize: none;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
i {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
legend {
	color: rgb(0, 0, 0);
}
abbr {
	border: 0px currentColor; font-variant: normal;
}
acronym {
	border: 0px currentColor; font-variant: normal;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.clear {
	font: 0px/0 Arial; height: 0px; clear: both; visibility: hidden; font-size-adjust: none; font-stretch: normal;
}
body {
	color: rgb(100, 100, 100);
}
body a {
	color: rgb(21, 130, 189);
}
.WB_linkA a {
	color: rgb(21, 130, 189);
}
.WB_linkA {
	color: rgb(21, 130, 189);
}
.WB_linkB a {
	color: rgb(122, 165, 185);
}
.WB_linkB {
	color: rgb(122, 165, 185);
}
.WB_male {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_female {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_approve {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_approve_co {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_approve_dead {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_ico_club {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_ico_twoyear {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_ico_fashion {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_ico_gives {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_ico_number_gold {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_ico_number_silver {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_ico_number_bronze {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_ico_vlady {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; vertical-align: middle; display: inline-block; _background-image: url(../../images/library/base/icon_user_ie6.png?id=1339585983928);
}
.WB_male {
	background-position: 0px -75px; margin: 0px 2px; width: 11px; height: 13px;
}
.WB_female {
	background-position: 0px -100px; margin: 0px 2px; width: 11px; height: 13px;
}
.WB_ico_twoyear {
	background-position: 0px -200px; width: 16px; height: 16px;
}
.WB_ico_fashion {
	background-position: 0px -222px; width: 16px; height: 16px; display: inline-block;
}
.WB_ico_number_gold {
	width: 14px; height: 14px; display: inline-block;
}
.WB_ico_number_silver {
	background-position: 0px -25px; width: 14px; height: 14px; display: inline-block;
}
.WB_ico_number_bronze {
	background-position: 0px -50px; width: 14px; height: 14px; display: inline-block;
}
.approve {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; display: inline-block;
}
.approve_co {
	background: url("../../images/library/base/icon_user.png?id=1339585983928") no-repeat 0px; display: inline-block;
}
.approve {
	background-position: 0px -125px; width: 14px; height: 12px;
}
.approve_co {
	background-position: 0px -150px; width: 14px; height: 12px;
}
.WB_approve {
	background-position: -20px 0px; width: 16px; height: 14px;
}
.WB_approve_co {
	background-position: -20px -20px; width: 16px; height: 14px;
}
.WB_ico_club {
	background-position: 0px -175px; width: 13px; height: 13px;
}
.WB_followButton {
	height: 22px; overflow: hidden; text-decoration: none; display: inline-block; cursor: pointer;
}
.WB_followButton:hover {
	text-decoration: none;
}
.WB_followButton {
	background: url("../../images/followButton/bg_flbtn.png?id=1339585983925"); overflow: hidden; display: inline-block; _background-image: url(../../images/followButton/bg_flbtn.gif?id=1339585983925);
}
.WB_followButton .FB_typeA {
	background: url("../../images/followButton/bg_flbtn.png?id=1339585983925"); overflow: hidden; display: inline-block; _background-image: url(../../images/followButton/bg_flbtn.gif?id=1339585983925);
}
.WB_followButton .FB_typeB {
	background: url("../../images/followButton/bg_flbtn.png?id=1339585983925"); overflow: hidden; display: inline-block; _background-image: url(../../images/followButton/bg_flbtn.gif?id=1339585983925);
}
.WB_followButton .WB_icon {
	background: url("../../images/followButton/bg_flbtn.png?id=1339585983925"); overflow: hidden; display: inline-block; _background-image: url(../../images/followButton/bg_flbtn.gif?id=1339585983925);
}
.WB_followButton .WB_Aloading {
	background: url("../../images/followButton/bg_flbtn.png?id=1339585983925"); overflow: hidden; display: inline-block; _background-image: url(../../images/followButton/bg_flbtn.gif?id=1339585983925);
}
.WB_followButton .WB_Bloading {
	background: url("../../images/followButton/bg_flbtn.png?id=1339585983925"); overflow: hidden; display: inline-block; _background-image: url(../../images/followButton/bg_flbtn.gif?id=1339585983925);
}
.WB_FB_show .WB_FB_plus .plus_arr {
	background: url("../../images/followButton/bg_flbtn.png?id=1339585983925"); overflow: hidden; display: inline-block; _background-image: url(../../images/followButton/bg_flbtn.gif?id=1339585983925);
}
.WB_followButton .FB_typeA {
	width: 62px; height: 22px; text-decoration: none;
}
.WB_followButton .FB_typeB {
	width: 62px; height: 22px; text-decoration: none;
}
.WB_followButton:hover .FB_typeA {
	background-position: 0px -23px;
}
.WB_followButton .WB_icon {
	background-position: -190px 0px; margin: 3px 0px 0px 3px; width: 16px; height: 14px; overflow: hidden; float: left;
}
.WB_followButton .WB_icon_text {
	margin: 3px 0px 0px 3px; overflow: hidden; padding-top: 1px; float: left; white-space: nowrap;
}
.WB_followButton .WB_Aloading {
	background-position: 0px -46px;
}
.WB_followButton .WB_Aloading:hover {
	background-position: 0px -46px;
}
.WB_followButton .WB_Aloading .WB_icon {
	background: url("../../images/library/base/loading1.gif?id=1339585983925"); margin: 2px 0px 0px 1px; height: 18px;
}
.WB_followButton .WB_Bloading .WB_icon {
	background: url("../../images/library/base/loading1.gif?id=1339585983925"); margin: 2px 0px 0px 1px; height: 18px;
}
.WB_followButton .FB_typeB {
	background-position: -63px 0px; color: rgb(255, 255, 255);
}
.WB_followButton:hover .FB_typeB {
	background-position: -63px -23px;
}
.WB_followButton .FB_typeB .WB_icon {
	margin-right: 1px;
}
.WB_followButton .WB_Bloading {
	background-position: -63px -46px;
}
.WB_followButton .WB_Bloading:hover {
	background-position: -63px -46px;
}
.WB_followButton .WB_Bloading .WB_icon {
	margin-right: 3px;
}
.WB_followButton .WB_followed {
	background-position: -126px 0px; color: rgb(102, 102, 102);
}
.WB_followButton .WB_followed:hover {
	background-position: -126px 0px; color: rgb(102, 102, 102);
}
.WB_FB_show {
	overflow: hidden;
}
.WB_FB_show .WB_followButton {
	width: 62px; font-size: 12px; vertical-align: middle;
}
.WB_FB_show .WB_FB_plus {
	background: rgb(252, 248, 233); padding: 0px 7px; border-radius: 2px; border: 1px solid rgb(236, 209, 129); height: 20px; line-height: 20px; margin-left: 7px; vertical-align: middle; display: inline-block; position: relative;
}
.WB_FB_show .WB_FB_plus a {
	color: rgb(51, 51, 51);
}
.WB_FB_show .WB_FB_plus a:hover {
	color: rgb(21, 130, 189); text-decoration: none;
}
.WB_FB_show .WB_FB_plus .plus_arr {
	background-position: -190px -16px; left: -6px; top: 6px; width: 6px; height: 7px; position: absolute; z-index: 20;
}
.WB_FB_show .WB_FB_info {
	margin: 0px 0px 0px 7px; line-height: 16px; font-size: 12px; vertical-align: middle; display: inline-block;
}
.WB_FB_show .WB_FB_info a {
	margin: 0px 4px 0px 0px;
}
.WB_FB_show .WB_FB_info .WB_user {
	font-weight: 700;
}
.WB_FB_show .WB_FB_info span {
	margin: 0px 4px 0px 0px; vertical-align: middle;
}
.WB_FB_show .WB_FB_info img {
	margin: 0px 4px 0px 0px; vertical-align: middle;
}
.WB_FB_show .WB_uList {
	padding-top: 11px;
}
.WB_FB_show .WB_uList li {
	width: 30px; height: 30px; padding-right: 8px; float: left; _display: inline;
}
.WB_FB_show .WB_uList li img {
	width: 30px; height: 30px; display: block;
}
.WB_FB_show .WB_followButton {
	float: left;
}
.WB_FB_show .WB_FB_plus {
	float: left;
}
.WB_FB_show .WB_FB_info {
	float: left;
}
.WB_FB_show .WB_user {
	float: left;
}
.WB_FB_show .WB_FB_info span {
	float: left;
}
.WB_FB_show .WB_FB_info img {
	float: left;
}
.WB_FB_show .FB_info_more {
	float: left;
}
.WB_FB_show .WB_FB_info a {
	float: left;
}
.WB_FB_show .WB_FB_info {
	vertical-align: baseline;
}
.WB_FB_show::after {
	display: table; content: "";
}
.WB_FB_show::after {
	clear: both;
}
.WB_FB_show {
	zoom: 1;
}
.WB_FB_show .WB_uList::after {
	display: table; content: "";
}
.WB_FB_show .WB_uList::after {
	clear: both;
}
.WB_FB_show .WB_uList {
	zoom: 1;
}
.WB_FB_show .WB_uList {
	padding-top: 11px; clear: both;
}
.WB_FB_show .WB_FB_info {
	padding-top: 3px;
}
.WB_FB_show .WB_FB_info span {
	margin-top: 3px;
}
.WB_FB_show .WB_FB_info img {
	margin-top: 3px;
}
.WB_FB_show .WB_FB_info .WB_ico_club {
	margin-top: 0px;
}
