<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>触摸版本测试页</title>
<link href="css/index.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../index.js"}
</head>
<body>
<table width="1480" border="0" cellpadding="0" cellspacing="0" bgcolor="#103a4c">
	<tr>
		<td width="20" height="20">&nbsp;</td>
		<td width="1024"></td>
		<td>&nbsp;</td>
		<td width="20">&nbsp;</td>
	</tr>
	<tr>
		<td height="768">&nbsp;</td>
		<td bgcolor="#FFFFFF"><iframe id="mainFrame" src="shop_specials.php" frameborder="0" scrolling="no" width="1024" height="768" name="main"></iframe></td>
		<td rowspan="2"><img src="main_right.jpg" width="416" height="900" /></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td height="132">&nbsp;</td>
		<td height="132" id="navTd">
			
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td height="20">&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>

<map name="Map" id="Map">
<area shape="rect" coords="0,10,172,136" href="shop_store.php?act=user" target="main" />
<area shape="rect" coords="172,11,342,127" href="shop_category.php?act=default&top_cat_id=201
" target="main" />
<area shape="rect" coords="345,10,515,130" href="shop_category.php?act=default&top_cat_id=192
" target="main" />
<area shape="rect" coords="514,10,685,130" href="shop_category.php?top_cat_id=179&act=default
" target="main" />
<!-- <area shape="rect" coords="688,11,859,129" href="shop_store.php?act=user
" target="main" />-->
<area shape="rect" coords="688,11,859,129" href="shop_user.php" target="main" />
<area shape="rect" coords="858,12,1027,132" href="shop_convenient.php" target="main" />
</map>
</body>
</html>