<html>
<head>
<title>无标题文档</title>
<style type="text/css">
*{margin:0px; padding:0px;}
</style>
</head>

<body>
	<img alt="" src="img/user_space.png" usemap="#member" border="0">
	<map name="member">
		<!-- 会员注册 -->
  		<area alt="" shape="rect" coords="153, 189, 498, 391" href="user_with_card.php?act=register">
  		<!-- 打印付款 -->
  		<area alt="" shape="rect" coords="523, 190, 867, 391" href="shop_user.php?act=get_goods">
  		<!-- 资料修改 -->
  		<area alt="" shape="rect" coords="153, 412, 498, 615" href="shop_user.php?act=update_user">
  		<!-- 店家后台 -->
  		<area alt="" shape="rect" coords="523, 412, 867, 615" href="shop_user.php?act=user_account">	
	</map>
</body>
</html>