<!-- $Id: goods_search.htm 16790 2009-11-10 08:56:15Z wangleisvn $ -->
<div class="form-div">
  <form action="javascript:searchGoods()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {if $smarty.get.act neq "trash"}
    <!-- 分类 -->
    <select name="cat_id"><option value="0">{$lang.goods_cat}</option>{$cat_list}</select>
    <input type="hidden" name="brand_id" value="0" />
    <input type="hidden" name="intro_type" value="0" />
    <input type="hidden" name="is_on_sale" value="" />       
     {if $suppliers_exists eq 1}    
      <!-- 供货商 -->
      <select id="suppliers_id" name="suppliers_id"><option value="0">{$lang.intro_type}</option>{html_options options=$suppliers_list_name selected=$smarty.get.suppliers_id}</select>
      {/if}
       {if $store_list}    
      	 <select id="store_id" name="store_id">
      	 	 {foreach from=$store_list item=store}
     			<option value="{$store.store_id}">{$store.store_remark}</option>
     		{/foreach}
     	</select>
      {/if}
    {/if}
    <!-- 关键字 -->
    {$lang.keyword} <input type="text" name="keyword" size="15" />
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

{literal}
<script language="JavaScript">
    function searchGoods()
    {
{/literal}
        {if $smarty.get.act neq "trash"}
        listTable.filter['cat_id'] = document.forms['searchForm'].elements['cat_id'].value;
        listTable.filter['brand_id'] = document.forms['searchForm'].elements['brand_id'].value;
        listTable.filter['intro_type'] = document.forms['searchForm'].elements['intro_type'].value;
        {if $store_list}
        listTable.filter['store_id'] = document.forms['searchForm'].elements['store_id'].value;
        {/if}
          {if $suppliers_exists eq 1}
          listTable.filter['suppliers_id'] = document.forms['searchForm'].elements['suppliers_id'].value;
          {/if}
        listTable.filter['is_on_sale'] = document.forms['searchForm'].elements['is_on_sale'].value;
        {/if}
{literal}
        listTable.filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
        listTable.filter['page'] = 1;

        listTable.loadList();
    }
</script>
{/literal}