{literal}
<style type="text/css">
body,td { font-size:13px; }
</style>
{/literal}
<!-- start 分箱核对 -->
<table width="100%" border="1" style="border-collapse:collapse;border-color:#000;" >
  <tr>
    <th bgcolor="#cccccc">编号</th>
	<th bgcolor="#cccccc">商品名称</th>
    <th bgcolor="#cccccc">规格</th>
	<th bgcolor="#cccccc">门店名称</th>
    <th bgcolor="#cccccc">应分拣数量</th>
	<th bgcolor="#cccccc">实分拣数量</th>
	<th bgcolor="#cccccc">箱号</th>
  </tr>	
  {foreach from=$sortGoods item=s name=sort}
  <tr align="center">  	
  	<td>{$smarty.foreach.sort.iteration}</td>
	<td>{$s.goods_name}</td>
	<td>{$s.goods_specification}</td>
	<td>{$s.store_name}</td>
	<td>{$s.need_goods_num}</td>
	<td>{$s.real_goods_num}</td>
	<td>{$s.box_name}</td>
  </tr>
  {/foreach}
</table>
<!-- end 分箱核对 -->