<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
<div class="main-div">
<form method="post" action="user_card.php" name="theForm">
<table width="100%" >
  {if $form_action eq "insert"}
  <tr>
    <td class="label">{$lang.count}:</td>
    <td><input type="text" name="count" maxlength="60"/>{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.store}:</td>
    <td><select name="store_id">
      <option value="">{$lang.not_special_store}</option>
      {html_options options=$store_list}
    </select></td>
  </tr>
  {/if}
  {if $form_action eq "update"}
  <tr>
  	<td class="label">{$lang.label_card_id}:</td>
    <td><input type="hidden" name="card_id" value="{$card.card_id}"/>{$card.card_number}</td>
  </tr>
  <tr>
  	<td class="label">{$lang.label_user_name}:</td>
    <td>{$card.user_name}</td>
  </tr>
  <tr>
  	<td class="label">{$lang.label_real_name}:</td>
    <td>{$card.real_name}</td>
  </tr>
  <tr>
    <td class="label">{$lang.store}:</td>
    <td><select name="store_id">
      <option value="">{$lang.not_special_store}</option>
      {html_options options=$store_list selected=$card.store_id}
    </select>{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.label_state}:</td>
    <td><select name="card_state">
      {html_options options=$lang.state selected=$card.card_state}
    </select>{$lang.require_field}</td>
  </tr>
  {/if}
  
  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="{$lang.button_submit}" class="button" />
      <input type="reset" value="{$lang.button_reset}" class="button" />
      <input type="hidden" name="act" value="{$form_action}" />
     </td>
  </tr>
</table>

</form>
</div>

{include file="pagefooter.htm"}
